html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  color: #5a5858;
}

h2 {
  font-size:22px;
  color: #5a5858;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bottom-buffer { 
  margin-bottom:20px; 
}

.consoleOutput {
  height: 300px;
  overflow: auto;
  text-align: left;
  background: rgb(0, 0, 0);
  color: white;
  font-family: monospace;
}

ul {
  list-style: none;
  padding: 0px;
}

ul li:before
{
  content: '\21e2';
  margin: 0 1em;    /* any design */
}

.sidebar {
  color: white;
  background-image: linear-gradient(to bottom right, #00B4FF, #07ACFD);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 4px solid rgb(165, 209, 230);
}


.main {
  background: #fcfcfc;
  word-break: break-word;
  overflow: auto;
}

.navigation-item {
  width: 100px;
  height: 150px;
  opacity: 0.5;
}

.selected {
  opacity: 1;
}

.buckets {
  padding: 40px;
}

.section {
  border-radius:5px;
  background-color: #eeeeee
}

/* Bootstrap overrides */
.btn-primary {
  background-color: #00B4FF;
  border-color: #00B4FF;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #00B4FF;
  border-color: #00B4FF;
}

.btn.disabled, .btn:disabled {
  opacity: 0.35;
}

.btn-primary:hover {
  background-color: #00B4FF;
  border-color: #00B4FF;
  box-shadow: 0px 0px 6px 1px rgba(7, 172, 253, .4);
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #00B4FF;
  border-color: #00B4FF;
}

/* Transitions */
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms, transform 1000ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1000ms, transform 1000ms;
}

/* Icons */

.fa-check-circle {
  color: rgb(34, 153, 34);
}